@inherits ComponentBase
@inject NavigationManager _navigationManager

<div class="@_className">
    @foreach (var item in Items)
    {
        <a href="@item.Route" @onclick:preventDefault onclick="@(() => SelectAppbarItem(item))">
            @item.Name
        </a>
    }
    <a class="icon" onclick="@(() => ToggleAppbarState())">
        <i class="bi-three-dots" />
    </a>
</div>

@code {

    [Parameter]
    [EditorRequired]
    public List<AppbarItem> Items { get; set; } = default!;
    
    private bool _appbarOpen;
    private string _className => $"z-appbar {(_appbarOpen ? "responsive" : string.Empty)}";

    private void SelectAppbarItem(AppbarItem item)
    {
        _appbarOpen = false;
        _navigationManager.NavigateTo(item.Route);
    }

    private void ToggleAppbarState()
    {
        _appbarOpen = !_appbarOpen;
    }
}
