@inject IAuthenticationConfig _authConfig
@inject IJSRuntime js

@if (_initialised)
{
    <AuthProvider AuthenticationConfig="_authConfig">
    <Router AppAssembly="@typeof(App).Assembly">
        <Found Context="routeData">
            <RouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)" />
            <FocusOnNavigate RouteData="@routeData" Selector="h1" />
        </Found>
        <NotFound>
            <PageTitle>Not found</PageTitle>
            <LayoutView Layout="@typeof(MainLayout)">
                <p role="alert">Sorry, there's nothing at this address.</p>
            </LayoutView>
        </NotFound>
    </Router>
</AuthProvider>
}

@code {
    private bool _initialised;

    protected override async Task OnInitializedAsync()
    {
        var bffUri = await js.InvokeAsync<string>("GetBffUri");
        if (!string.IsNullOrEmpty(bffUri))
        {
            _authConfig.SetBffBase(bffUri);
        }
        Console.WriteLine("Setting bff base: {0}", bffUri);
        _initialised = true;
        await base.OnInitializedAsync();
    }
}