@inherits BaseInput

<div class="z-col" style="width: @Width;">

    @if (IsLabelDisplay)
    {
        <label htmlFor="@Id" class="z-form-label">@Label</label>
    }

    <input
        class="z-form-control"
        id="@Id"
        width="@Width"
        autocomplete="off"
        type="text"
        maxlength="@MaxLength"
        readonly="@IsReadOnly"
        disabled="@Disabled"
        @bind-value="@Value"
        onblur="@(() => OnBlur())" />
</div>

@code {

    private async void OnBlur()
    {
        await ValueChanged.InvokeAsync(Value);
    }

    [Parameter]
    public int? MaxLength { get; set; }

}
