@inherits ComponentWithState

<div class="container">
    @if (_dashboardState.Instance.TransactionData.Any())
    {
        <ApexChart
            TItem="AccountDashboardTransactionData"
            Title="@Title"
            Options="@_options"
            FormatYAxisLabel="GetYAxisLabel">
                @foreach (var (accountId, transactionData) in _dashboardState.Instance.TransactionData)
                {
                    @if (transactionData.Any())
                    {
                        <ApexPointSeries
                            TItem="AccountDashboardTransactionData"
                            Items="@transactionData"
                            Name="@_dashboardState.Instance.AccountNames[accountId]"
                            SeriesType="SeriesType.Line"
                            XValue="@(e => e.Date.ToString("MMMM d, yyyy"))"
                            YValue="@(e => CurrencyRules.FromPersisted(e.Amount))" />
                    }
                }
        </ApexChart>
    }
</div>

@code {

    private IStateInstance<DashboardState> _dashboardState { get; set; } = default!;
    private ApexChartOptions<AccountDashboardTransactionData> _options { get; set; } = default!;

    [Parameter, EditorRequired]
    public Guid AccountTypeId { get; set; }

    [Parameter, EditorRequired]
    public string Title { get; set; } = string.Empty;

    private string GetYAxisLabel(decimal value) => "$" + value.ToString("N0");

    protected override void OnInitialized()
    {
        _dashboardState = GetState<DashboardState>();
        _options = new()
        {
            Legend = new Legend
            {
                Show = false
            },
            Xaxis = new XAxis
            {
                Type = XAxisType.Datetime,
                Labels = new XAxisLabels
                {
                    Style = new AxisLabelStyle
                    {
                        FontSize = "18px"
                    }
                }
            }
        };
    }

}
