<style>
    .mud-picker.mud-picker-inline.mud-picker-input-button {
        visibility: collapse !important;
    }

    .mud-range-input-separator {
        visibility: collapse !important;
    }
</style>

<MudButton OnClick="@OpenPicker">@FormattedRange</MudButton>
<MudDateRangePicker Style="visibility: collapse !important" @ref="rangePicker" DateRange="@_range" DateRangeChanged="@DateRangeChanged" />
<span data-testid="@DataTestIds.Username">@AuthenticationContext.User?.preferred_username</span>